.error-section {
	width: 90%;
	max-width: 1190px;
	min-height: 695px;
	margin: auto;

	display: flex;
	justify-content: center;
	align-items: center;
}

.error-section__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.25rem;
}

.error-section__content-heading {
	font-size: 3.5rem;
	font-weight: 900;
}

.error-section__content-action {
	width: 50%;
}
